<!DOCTYPE html>
<html ng-app="MyApp">

<head>
  <link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.common.min.css" rel="stylesheet" />
  <link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.default.min.css" rel="stylesheet" />
</head>

<body>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
  <script src="http://cdn.kendostatic.com/2013.3.1119/js/kendo.all.min.js"></script>
  <script src="angular-kendo.js"></script>
  <script>
    angular.module("MyApp", ["kendo.directives"])
    .controller("controller", ['$scope', function($scope) {
      $scope.now = new Date();
      $scope.dateTimePickerOptions = {
        format: "dd-MM-yyyy hh:mm:ss"
      }
    }]);
  </script>
  
  <div ng-controller="controller">
    <h2>Format set as attribute</h2>
    <input type="text" ng-model="now" kendo-date-time-picker k-format="yyyy-MM-dd hh:mmtt">
    
    <h2>Format set on scope</h2>
    <input type="text" ng-model="now" kendo-date-time-picker k-options="dateTimePickerOptions">
  </div>

</body>

</html>
